body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.main {
  border-style: solid;
  position: absolute;
  top: 10%;
  left: 10%;
}

div.definitionList {
  width:25%
}

input {
  background-color: aquamarine;
  width: 75px;
}

table {
  width: 50%;
}
table, th, td {
  border: 1px solid black;
}
