body {

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.main {
  border-style: solid;
  position: relative;
}

div.definitionList {
  width:100%
}

input {
  background-color: aquamarine;
  height:50px;
  font-size:30pt;
  width: 100%;
}

select {
  width: 100%;
  font-size:30pt;
  text-overflow:ellipsis;
  /* So it doesn't overflow from it's parent */
}

option {
  /* wrap text in compatible browsers */
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
  white-space: pre-wrap;
  /* hide text that can't wrap with an ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
  /* add border after every option */
  border-bottom: 1px solid #DDD;
}

#numberDisplay {
  font-size:30pt;
}

.copyButton {
  font-size:25pt;
  width:50%;
}


